@model IEnumerable<Shop.Application.Cart.GetCart.Response> 
@{
    decimal totalPrice = 0;
}

    <div>

        <p class="title">Cart</p>
        @foreach (var product in Model)
        {
    <article class="media">
        <figure class="media-left">
            <p class="image is-128x128">
                <img src="~/images/@product.ImgUrl">
            </p>
        </figure>
        <div class="media-content">
            <div class="content">
                <p class="title">@product.Name</p>
                <p class="subtitle">Qty:@product.Qty</p>
                <p class="subtitle">Price:$@(product.TheValue * product.Qty)</p>
            </div>
        </div>

    </article>
         
    totalPrice += (product.TheValue * product.Qty); 
         
          
        

        }
    <div class="field">
        <p class="title"> $@totalPrice @*<vc:cart view="Small"> </vc:cart>*@</p> 

    </div>
    </div>