@model string
@{

}

<a class="navbar-item" asp-page="/Cart" id="cart-nav">
    <i class="fas fa-shopping-cart" style="color: #3298dc;"></i> @Model
</a>
<script src="https://kit.fontawesome.com/27ce9fa351.js" crossorigin="anonymous"></script>