@page
@model Shop.UI.Pages.Checkout.ZainCashModel
@{
}
  @*TODO send requstes by axios to zaincash API
      and handel the response in zaincash.cs using _ordermanager and also you need to use JWT*@ 


    @*<div>
        <form method="post">
                <button type="submit"> aa</button>
        </form>
    </div>*@                   